.box1 {
  background: red;
  padding: 20px;
  /* height: 100px*/
  width: 400px;
}
.box2 {
  background: black;
  padding: 20px;
  color: white;
  /* height: 100px*/
  width: 300px;
}
.box3 {
  background: purple;
  padding: 20px;
  /* height: 100px*/
  width: 400px;
}
.box4 {
  background: orange;
  padding: 20px;
  /* height: 100px*/
  width: 300px;
}

.box2 h1 {
  background-color: yellow;
}
